@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: VazirBold;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/VazirmatnBold.woff2") format("woff2");
  
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-Vazir: "Vazirmatn", VazirBold;
}

:root {

  line-height: 1.5;
  font-weight: 400;
  direction: rtl;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

